# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env/

# Ignore VS Code settings
.vscode/

# Ignore git
.git
.gitignore

# Ignore other OS files
.DS_Store
Thumbs.db

# Ignore README if not needed inside container
README.md
